# MongoDB Connection String
# For local MongoDB:
MONGODB_URI=mongodb://localhost:27017/shopmaster

# For MongoDB Atlas (cloud):
MONGODB_URI=mongodb+srv://rohansivaa_db_user:rohansivaa_db_user@cluster0.rjdprvo.mongodb.net/?appName=Cluster0

# Server Port
PORT=5000